<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title My Front-End Starter
    //- only in development
    link(rel="stylesheet", href="/css/index.css")
    //- Active in production
    //- link(rel="stylesheet", href="/css/index.min.css")
  body
    .container
      h1 Welcome in my Front-End Starter.
      button.btn-welcome(onclick="handleClick()") Welcome

      script(src="/js/main.js")